.content__posts {
  padding-top: 90px;
  padding-bottom: 40px;
  min-height: 90vh;
  padding-left: 90px;
  padding-right: 90px;
}

.invisible {
    display: none;
  }

  .mypost {
    padding-top: 30px;
  }

  